<!DOCTYPE html>
<html lang="en">
<head>
  <title>Feedback</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container1">
  <h1 align="center" class="feedback"><b>FEEDBACK</b></h1>
  <form action="http://localhost/webdastub/controller/controller.php?fungsi=feedback" method="post" >
    <div class="form-group">
      <label for="pwd">Saran dan Masukan:</label>
      <textarea type="text" class="form-control" id="sdm" placeholder="Saran dan Masukan" name="panjang"></textarea>
    </div>
    <center><button type="submit" class="btn btn-dark btn-lg js-scroll-trigger" value="kirim">Kirim</button></center>

  </form>
  </div>

</body>
</html>
